 GLOBAL */
.container header {
	background: #2F2F31;
	width: 100%;
}

.container {
	margin: 10%;
}


img {
	max-width: 50%;
}

nav li {
	list-style: none;
	display: inline-block;
}

a {
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 4px;
	margin: auto 15px;
	color: #2F2F31;
}

/* Layout */

body {
	background: url("../img/crossword.png");
	font-family: 'Poiret One', sans-serif;
}

h1 {
	text-transform: uppercase;
}

article section {
	width: 50%;
	float: left;
}

iframe, img {
	width: 100%;
	max-width: 100%;
}

img {
	width: 80%;
}

.container {
	text-align: center;
}

section {}
/* Media queries let you make exceptions to your previously established rules, conform for responsive design */

/* DESKTOP */
@media (min-width: 960px) {
	#top {
		width: 300px;
	}
}

/* TABLET */
@media (max-width: 768px) {
	section img {
		width: 80%;
	}

	#top {
		width: 300px;
	}

	section h1 {
		text-transform: uppercase;
	}
}

section {
	text-align: left;
}


#contact {
	top-padding: 400px;
}


/* make favicon 260px 260px in photoshop
realfavicongenerator.net
 