 GLOBAL */
.container header {
	background: #2F2F31;
	width: 100%;
}

.container {
	margin: 5%;
}


nav li {
	list-style: none;
	display: inline-block;
	bottom-margin: 60px;
	padding: 10px 10px;
}

nav a:hover {
	background: #2F2F31;
	color: #FFF;
	padding: 10px 10px;
	border-radius: 5px;
	bottom-margin: 60px;
}

a {
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 4px;
	margin: auto 15px;
	color: #2F2F31;
}

/* Layout */

body {
	background: url("../img/crossword.png");
	font-family: 'Poiret One', sans-serif;
}

h1 {
	text-transform: uppercase;
	font-size: 8em;
}

article section {

	float: right;
	padding: 10%;
	text-align: center;
}

iframe, img {
	width: 100%;
	max-width: 100%;
}

img {
	width: 40%;
	float: left;
	margin: 40px 40px;
	height: 40%;
}


.container {
	text-align: center;
}

h3 {
	text-transform: uppercase;
	font-size: 4em;

}
/* Media queries let you make exceptions to your previously established rules, conform for responsive design */

/* DESKTOP */
@media (min-width: 960px) {
	#top {
		width: 300px;
	}
}

/* TABLET */
@media (max-width: 768px) {
	section img {
		width: 80%;
	}

	#top {
		width: 300px;
	}

	section h1 {
		text-transform: uppercase;
	}
}

section {
	text-align: center;
}





/* make favicon 260px 260px in photoshop
realfavicongenerator.net
 